<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <style>
        body{
            text-align: center;
        }
        h1{
            background-color: bisque;
            color: black;
        }
        a{
            text-decoration: none;
            padding: 10px;
            background-color:cornflowerblue;
            font-size: 1rem;
        }
    </style>
</head>
<body>
    <h1>About Our Website:</h1>
    <p>Our company is committed to excellence and innovation in everything we do. With a passionate team and a clear vision, we strive to deliver value and quality to our clients. We believe in building lasting relationships based on trust and integrity. Our journey is driven by a dedication to growth, learning, and making a positive impact.</p>
    <a href="{% url 'base' %}">Back to Base</a>
</body>

</html>