<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact-Us</title>
    <style>
        a{
            text-decoration: none;
            padding: 10px;
            background-color:cornflowerblue;
            font-size: 1rem;
        }
    </style>
</head>
<body>
    <h1>Contact Our Team:</h1>
    <pre>
        Visit Our Office:
        123 Main Street, Suite 456
        Springfield, State, 12345
        Phone: (123) 456-7890
        Email: info@example.com

        Working Hours: Monday – Friday: 9:00 AM – 6:00 PM

        You can also connect with us through our social media channels:

        Facebook: facebook.com/YourCompany

        Twitter: twitter.com/YourCompany

        LinkedIn: linkedin.com/company/YourCompany
    </pre>
    <a href="{% url 'base' %}">Back to Base</a>
</body>
</html>