<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
        body{
            text-align: center;
        }
        h1{
            background-color: cadetblue;
            padding: 10px;
        }
        a{
            text-decoration: none;
            padding: 10px;
            background-color:cornflowerblue;
            font-size: 1rem;
        }
    </style>
</head>
<body>
    
    <h1>Welcome to home page</h1>
    <p>Welcome to our website! We are dedicated to providing the best services and solutions tailored to your needs. Explore our features and discover how we can help you achieve your goals. Join us on this journey and experience innovation at its finest.</p>
    <a href="{% url 'base' %}">Back to Base</a>
</body>
</html> 
