<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <style>
        body{
            text-align: center;
        }
        h1{
            color: brown;
        }
        a{
            text-decoration: none;
            padding: 10px;
            background-color:cornflowerblue;
            font-size: 1rem;
        }
    </style>
</head>
<body>
    <h1>Our Services</h1>
    <h3>We offer a range of services designed to help you succeed and grow:</h3>
    <ul>
        <li>Innovative Solutions: Creative approaches to tackle your unique challenges.</li>
        <li>Expert Consulting: Guidance from experienced professionals to optimize your strategy.</li>
        <li>Reliable Support: Consistent and trustworthy assistance whenever you need it.</li>
        <li>Tailored Services: Customized solutions to match your specific goals and requirements</li>
    </ul>
<a href="{% url 'base' %}">Back to Base</a>
</body>
</html>